<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/custom.css">
</head>
<body>
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Blog</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/authors">Authors</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-xs-offset-2">
          <h2><%= post.title %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-2">
          <a href="/authors/<%=post.author.id %>"><%= post.author.firstName %></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
          <p><%= post.content %></p>
        </div>
      </div>
  </div>
</body>
</html>