<html>
<head>
  <meta charset="UTF-8">
  <title>new</title>
</head>
<body>
  <h1>New Author</h1>
  <form method="POST" action="/authors" >
    <input type="text" name="author[firstName]" placeholder="author name">
    <input type="text" name="author[lastName]" placeholder="author last name">
    <input type="text" name="author[age]" placeholder="author age">
    <button>save author</button>
  </form>
</body>
</html>